.prose ul,
.prose ol {
  list-style-type: initial !important;
  margin-left: 1.25rem !important;
}

.prose li {
  margin: 0.25rem 0;
}

.dark .prose ul,
.dark .prose ol {
  color: inherit !important;
}
