:root {
  --bg-color: #fff;
  --text-color: #333;
  --header-bg: #f5f5f5;
  --footer-bg: #f5f5f5;
  --main-bg: #ffffff; /* фон основного контейнера */
  --link-color: #007acc;
}

[data-theme="dark"] {
  --bg-color: #1e1e1e;
  --text-color: #ddd;
  --header-bg: #252526;
  --footer-bg: #252526;
  --main-bg: #1a1a1a; /* темный фон основного контейнера */
  --link-color: #4eaaf7;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  transition: all 0.3s ease;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
